---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-demo-ui
  namespace: {{current_ibm_feature.project}}-demo-ui
  labels:
      app: ibm-demo-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ibm-demo-ui
  template:
    metadata:
      labels:
        app: ibm-demo-ui
    spec:
      containers:
      - image: quay.io/niklaushirt/ibm-demo-ui:5.1.2
        imagePullPolicy: Always
        name: ibm-demo-ui
        command:
        ports:
        - containerPort: 8000
          resources:
            limits:
              cpu: 1500m
              memory: 1512Mi
            requests:
              cpu: 500m
              memory: 512Mi
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 20
          timeoutSeconds: 15
          periodSeconds: 600
          successThreshold: 1
          failureThreshold: 300
        envFrom:
        - configMapRef:
            name:  ibm-demo-ui-config
        - configMapRef:
            name:  ibm-demo-ui-config-events
        - configMapRef:
            name:  ibm-demo-ui-config-logs
        - configMapRef:
            name:  ibm-demo-ui-config-logs-sock
        - configMapRef:
            name:  ibm-demo-ui-config-metrics
        - configMapRef:
            name:  ibm-demo-ui-config-custom
        env:
          - name: INSTANA_SERVICE_NAME
            value: ibm-demo-ui
          - name: AUTOWRAPT_BOOTSTRAP
            value: instana
          - name: INSTANA_DEBUG
            value: 'false'
      serviceAccount: ibm-demo-ui-admin

---
apiVersion: v1
kind: Service
metadata:
  name: ibm-demo-ui-service
  namespace: {{current_ibm_feature.project}}-demo-ui
spec:
  selector:
    app: ibm-demo-ui
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name:  ibm-demo-ui
  namespace: {{current_ibm_feature.project}}-demo-ui
spec:
  to:
    kind: Service
    name: ibm-demo-ui-service
    weight: 100
  port:
    targetPort: 8000
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Allow
  wildcardPolicy: None